<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>책 등록하기</h2>
    <form action="save" method="post">
        고유번호(ISBN)<br />
        <input type="text" name="isbn"> <br />
        제목 <br />
        <input type="text" name="title"> <br />
        작가명 <br />
        <input type="text" name="author"> <br />
        출판사명 <br />
        <input type="text" name="publisher"> <br />
        <button type="submit">전송</button>
    </form>
</body>
</html>